@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration:none;
    text-transform: capitalize;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
section{
    padding: 3rem 3rem 0 9%;
}

/* Header */
.header{
    position: fixed;
    top: 0;
    Left: 0;
    right: 0;
    z-index: 1000;
    padding: 2rem 9%;
    display: flex;
    background: #774ea7;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}
.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fff;
}
.header .logo i{
    color:#fff;
    padding-right: .5rem;
}
.header .navbar a{
    font-size: 1.7rem;
    color:#fff;
    margin: 0 1rem;
}
.header .navbar a:hover{
    color: #4e3b63;
}
.header .icons i{
    font-size: 2.5rem;
    margin-Left: 1.7rem;
    cursor: pointer;
    color:#fff;
}
.header .icons i:hover{
    color:#4e3b63;
}
#menu-btn{
    display: none; 
}
@media (max-width:991px) {
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
    section{
        padding: 3rem 2rem 0 2rem;
    }
}
@media (max-width: 768px) {
    #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 99%;
        Left: 0;
        right: 0;
        background: #fff;
        border-top: 0.1rem solid Orgba(0, 0, 0, 0.1);
        border-bottom: 0.1rem solid Orgba(0, 0, 0, 0.1);
        -webkit-clip-path: polygon(0 0, 108% 0, 108% 0,0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar .active{
        -webkit-clip-path: polygon(0 0, 108% 0, 108% 0,0 0);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem; 
        background: #774ea7;
        color: #fff;
        font-size: 2rem;
        display: block;
        border-radius: 5rem;
        text-align: center;
    }
    .landing .content{
        margin-top: 30px;
    }
    .about .content .btn{
        margin-bottom: 10px;
    }
}
@media (max-width: 450px) {
        html{
        font-size: 50%;
    }
    .home .container .landing .content h1{
        font-size: 50%;
    }
}

/* Home Section */
.home{
    padding-top: 8rem;
    background: #a586c9;
    background-size: cover;
    background-position: center;
    position: relative;
}

.home .container .landing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1.5rem;
    display: none;
}

.home .container .landing{
    display: flex;
}

.home .container .landing .content span{
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
}

.home .container .landing .content h2{
    font-size: 6rem;
    color: #eee;
    padding: .5rem 0;
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: -8rem 3rem;
    background: #eee;
    color: black;
    font-size: 1.7rem;
    cursor: pointer;
}

.btn:hover{
    background: rgb(105, 105, 015);
}

.home .container .landing .image{
   -webkit-box-flex: 1;
   -ms-flex: 1 1 40rem; 
   fLex: 1 1 40rem;
   margin: 3rem 3rem 0 0;
}

.home .container .landing .image img{
    width: 100%;
}


/* About */
.about{
    background: #895ac2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
}

.about .image {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
}
.about .image img{
    width: 100%;
}
.about .content{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
}
.about .content h3{
    color: #302851;
    font-size: 4.5rem;
}
.about .content p{
    font-size: 1.4rem;
    padding: 1rem 0;
    color: #fbf8f8;
    line-height: 2.5;
}

/*Services Section*/
.services{
    background-color: #774ea7;
    text-align: center;
    color: #fff;
}
.services-box{
    padding: 20px;
    display: flex;
}
.services h2{
    color: #eee;
    font-size: 4rem;
    text-transform: uppercase;
}
.services-box .box{
    background: #fff;
    color: #000;
    width: 33%;
    border-radius: 10px;
    padding: 20px 3px;
    margin-left: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
.services-box .box h3{
    color: #774ea7;
    font-size: 2rem;
}
.services-box .box p{
    margin-top: 10px;
    font-size: 1.3rem;
}
.services-box .box .btn{
    border: 2px solid #774ea7;
    border-radius: 5px;
}

@media (max-width:520px) {
    .services .services-box{
        display: block;
    }
    .services .services-box .box{
        margin-top: 10px;
        width: 100%;
    }
}

/*Footer Bar*/
footer{
    position: relative;
    background: #302851;
    width: 100%;
}
footer::before{
    content: '';
    position: absolute;
    Left: 0;
    top: 100px;
    height: 1;
    width: 100%;
    background: #AFAFB6;
}
footer .footer-content{ 
    max-width: 1100px;
    margin: auto;
    padding: 30px 40px 40px 40px; 
}    
footer .footer-content .top{ 
    dispLay: flex; 
    aLign-items: center; 
    justify-content: space-between; 
    margin-bottom: 50px; 
}   
.footer-content .top .logo-details{ 
    coLor: #fff; 
    font-size: 30px; 
} 
.footer-content .link-boxes{ 
    width: 100%; 
    dispLay: flex; 
    justify-content: space-between; 
}
.footer-content .link-boxes .box{
    width: calc (100% / 3 -10px);
}
.footer-content .link-boxes .box .link_name{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
}
.link-boxes .box .link_name::before{
    content: '';
    position: absolute;
    Left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
}
.link-boxes .box li{
    margin: 6px 0;
    list-style: none;
}
.link-boxes .box li a{
    color: #fff ;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all .4s ease;
}
.link-boxes .box li a:hover{

    opacity: 1;
    text-decoration: underline;
}
.footer-content .link-boxes .input-box{
    margin-right: 55px;
}
.link-boxes .input-box input{
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #afafb6;
    background-color: #8661b0;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    margin-top: 5px;
}
.input-box input::placeholder{
    color: #afafb6;
    font-size: 16px;
}
.input-box input[type="button"]{
    background: #fff;
    color: #140B5C;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
}
.input-box input[type="button"]:hover{
    opacity: 1;
}

footer .bottom-details{
    width: 200%;
    background: #302851;
}
footer .bottom-details .bottom-text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}
.bottom-details .bottom-text span,
.bottom-details .bottom-text a{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
}
.bottom details .bottom-text a:hover{
    opacity: 1;
    text-decoration: underline;
}
.bottom details .bottom-text a {
    margin-right: 10px;
}

@media (max-width: 900px) {
    footer .link-boxes{
        flex-wrap: wrap;
    }
    footer .footer-content .link-boxes .input-box{
        width: 40%;
        margin-top: 10px;
    }
}

@media (max-width: 700px) {
    footer{
        position: relative;
    }
    .footer-content .top .logo-details{
       font-size: 26px;
    }
    .footer-content .link-boxes .box{
        width: calc(100%/2 - 10px);
    }
    .footer-content .link-boxes .input-box{
        width: 60%;
    }
    .bottom-details .bottom-text span,
    .bottom-details .bottom-text a{
        font-size: 12px;        
    }   
}

@media (max-width: 520px) {
    footer::before{
        top: 100px;
    }
    .footer-content .top{
        flex-direction: column;
    }
    .link-boxes .box{
        width: calc(100%/2 - 10px);
    }
    .link-boxes .input-box{
        width: 100%;
    }
}